<header id="mainheader">
  <div id="header">
    <img class="logo" src="assets/Images/logo.png" alt="airbnb logo">
    <input class="search" type="text" placeholder="Where are you going?">
    <div class="bars">
      <i class="fa-sharp fa-solid fa-bars"></i>
      <i class="fa-solid fa-user user"></i>
    </div>
  </div>
  <hr>
  <nav id="mainnav">
    <ul>
        <li><a routerLink="/"><img src="assets/Images/All.jpg" class="img-icon"><br>All homes</a></li>
        <li><a href="#"><img src="assets/Images/Trending.jpg" class="img-icon"><br>Trending</a></li>
        <li><a href="#"><img src="assets/Images/Amazing views.jpg" class="img-icon"><br>Amazing views</a></li>
        <li><a href="#"><img src="assets/Images/Beach.jpg" class="img-icon"><br>Beach</a></li>
        <li><a href="#"><img src="assets/Images/Beachfront.jpg" class="img-icon"><br>Beachfront</a></li>
        <li><a href="#"><img src="assets/Images/Amazing pools.jpg" class="img-icon"><br>Amazing pools</a></li>
        <li><a href="#"><img src="assets/Images/Iconic cities.jpg" class="img-icon"><br>Iconic cities</a></li>
        <li><a href="#"><img src="assets/Images/Tiny homes.jpg" class="img-icon"><br>Tiny homes</a></li>
    </ul>
  </nav>
</header>
